*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    background: #f4f4f4 linear-gradient(45deg, #f4f4f4, #333);
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

fieldset {
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}

legend {
    font-size: 1.5rem;
    padding: 0 10px;
}

fieldset input {
    padding: 3px 7px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

option {
    padding: 5px;
    font-size: larger;
}

.form_container-photo>label {
    font-size: smaller;
}




.buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #fff;
    color: #333;
    font-size: 1.2rem;
    cursor: pointer;
}


.button:hover {
    background: #333;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.button-reset:hover {
    background: #f00;
    color: #fff;
}